---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import IconCalendar from "@/assets/icons/IconCalendar.svg";
import { useTranslations } from "@/i18n";

dayjs.extend(utc);

type Props = {
  class?: string;
  size?: "sm" | "lg";
  pubDate: string | Date;
  modDate?: string | Date | null;
};

const { pubDate, modDate, size = "sm", class: className = "" } = Astro.props;

const t = useTranslations(Astro.currentLocale);

const isModified = modDate && modDate > pubDate;

const datetime = dayjs(isModified ? modDate : pubDate).utc();

const date = datetime.format("D MMM YYYY");
---

<div
  class:list={["text-muted-foreground flex items-center gap-x-2", className]}
>
  <IconCalendar
    class:list={[
      "inline-block size-6 min-w-5.5",
      { "scale-90": size === "sm" },
    ]}
  />
  {
    isModified && (
      <span class:list={["text-sm", { "sm:text-base": size === "lg" }]}>
        {t.post.updatedAt}:
      </span>
    )
  }
  <time
    class:list={["text-sm", { "sm:text-base": size === "lg" }]}
    datetime={datetime.toISOString()}
  >
    {date}
  </time>
</div>
