---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";
import config from "@/config";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class="border-border flex flex-col items-center justify-between border-t py-6 sm:flex-row-reverse sm:py-4"
  >
    <Socials />
    <div
      class="text-muted-foreground my-2 flex flex-col items-center text-sm whitespace-nowrap sm:flex-row"
    >
      <span>&#169; {currentYear} {config.site.author}</span>
    </div>
  </div>
</footer>
